




.uvLow {
    background-color: greenyellow;
   
    color: black;


}

.uvModerate {

    background-color: yellow;
    
    color: black;
}



.uvModerateHigh {

    background-color: orange;
    
    color: black;




}


.uvHigh {

 background-color: red;
 
 color: black;

}

.uvExtreme {


    background-color: purple;
    
    color: black;



}


.input-field {

    margin-top: 5%;

    



}